{% load static %}
<main class="main">
    <div class="main__wrapper">
        <br><br><br><br>
        <div class="contact__wrapper">
            <div class="container">
                <div class="content">
                    <div class="right-side">
                        <div class="topic-text">Sorry but you are not admin</div>
                        <div class="button">
                            <button>
                                <a href="{% url 'faq' %}">GO BACK</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>